body{
margin:0;
background:#ffd6e8;
font-family:'Caveat',cursive;
overflow:hidden;
text-align:center;
}

/* screens */
.screen{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.hidden{display:none}

/* TEXT */
h1,h2{
font-size:55px;
color:black;
font-weight:bold;
text-shadow:
0 0 5px #fff,
0 0 15px #ffb6c1,
0 0 25px hotpink;
animation:bounce 2s infinite;
}

@keyframes bounce{
0%,100%{transform:translateY(0)}
50%{transform:translateY(-8px)}
}

/* BUTTONS */
.buttons button,.backBtn,.heart-btn{
padding:18px 40px;
font-size:22px;
margin:15px;
border:none;
border-radius:40px;
cursor:pointer;
background:white;
box-shadow:0 0 20px hotpink;
}

/* GIF */
.gif{
width:300px;
margin:20px;
border-radius:20px;
box-shadow:0 0 25px hotpink;
}

/* CALENDAR */
#calendar{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
background:white;
padding:40px;
border-radius:30px;
box-shadow:0 0 40px hotpink;
}

.day{
padding:25px;
background:#ffe6f0;
border-radius:20px;
font-size:22px;
cursor:pointer;
}
.day.locked{opacity:0.4}

/* IMAGES */
.loveImg{
width:160px;
margin:10px;
border-radius:20px;
box-shadow:0 0 20px hotpink;
animation:pop 0.6s ease;
}

@keyframes pop{
from{transform:scale(0);opacity:0}
to{transform:scale(1);opacity:1}
}

/* RAIN */
.rain{
position:fixed;
top:-20px;
z-index:9999;
pointer-events:none;
animation:fall linear forwards;
}

@keyframes fall{
to{transform:translateY(110vh);}
}
