body{
margin:0;
background:#ffd6e8;
font-family:'Caveat',cursive;
overflow:hidden;
text-align:center;
}

/* screens */
.screen{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.hidden{display:none}

/* TEXT */
h1,h2{
font-size:55px;
color:black;
font-weight:bold;
text-shadow:
0 0 5px #fff,
0 0 15px #ffb6c1,
0 0 25px hotpink;
animation:bounce 2s infinite;
}

@keyframes bounce{
0%,100%{transform:translateY(0)}
50%{transform:translateY(-8px)}
}

/* BUTTONS */
.buttons button{
padding:20px 50px;
font-size:24px;
margin:20px;
border:none;
border-radius:40px;
cursor:pointer;
box-shadow:0 0 20px hotpink;
}

#yesBtn{
background:white;
color:red;
animation:beat 1s infinite;
}

@keyframes beat{
50%{transform:scale(1.15);}
}

#noBtn{background:white;}

.heart-btn{
background:white;
padding:20px 35px;
border-radius:50px;
font-size:22px;
border:none;
margin-top:30px;
cursor:pointer;
box-shadow:0 0 20px hotpink;
}

/* GIF */
.gif{
width:300px;
margin:20px;
border-radius:20px;
box-shadow:0 0 25px hotpink;
}

/* CALENDAR */
#calendar{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
background:white;
padding:40px;
border-radius:30px;
box-shadow:0 0 40px hotpink;
}

.day{
padding:25px;
background:#ffe6f0;
border-radius:20px;
font-size:22px;
cursor:pointer;
box-shadow:0 0 10px pink;
transition:0.3s;
}
.day:hover{transform:scale(1.1)}

.day.locked{
opacity:.4;
}

/* images slideshow */
.loveImg{
width:160px;
margin:10px;
border-radius:20px;
box-shadow:0 0 20px hotpink;
animation:pop 0.6s ease;
}

@keyframes pop{
from{transform:scale(0);opacity:0;}
to{transform:scale(1);opacity:1;}
}

/* rain */
.rain{
position:fixed;
top:-20px;
z-index:9999;
pointer-events:none;
animation:fall linear forwards;
}

@keyframes fall{
to{transform:translateY(110vh);}
}

/* heartbreak rain */
.broken{
position:fixed;
top:-20px;
font-size:45px;
z-index:9999;
animation:fall linear forwards;
}
