body{
margin:0;
font-family:'Segoe UI',cursive;
background:#ffd6e8;
overflow:hidden;
text-align:center;
}

.page{display:none; padding-top:80px;}
.page.active{display:block;}

h1,h2{
font-size:40px;
color:black;
font-weight:bold;
text-shadow:0 0 10px white,0 0 20px hotpink;
}

.glow{
animation:glow 2s infinite alternate;
}
@keyframes glow{
from{text-shadow:0 0 10px white;}
to{text-shadow:0 0 25px hotpink;}
}

.btns button,button{
padding:18px 40px;
font-size:22px;
border:none;
border-radius:40px;
margin:15px;
cursor:pointer;
background:white;
}

#yesBtn{
animation:beat 1s infinite;
color:red;
}
@keyframes beat{
0%{transform:scale(1)}
50%{transform:scale(1.15)}
100%{transform:scale(1)}
}

.mainGif{
width:260px;
margin:20px auto;
display:block;
}

.dark{
background:black;
color:white;
height:100vh;
}

#againBtn{
background:white;
color:black;
font-size:18px;
border-radius:60px;
padding:15px 30px;
}

/* emoji rain */
.emoji{
position:fixed;
top:-10%;
font-size:60px;
animation:fall linear forwards;
}

@keyframes fall{
to{transform:translateY(120vh) rotate(360deg);}
}

/* calendar */
#calendar{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
max-width:600px;
margin:30px auto;
}

.day{
background:white;
padding:20px;
border-radius:20px;
font-size:20px;
cursor:pointer;
box-shadow:0 0 15px pink;
animation:beat 2s infinite;
}

.locked{
opacity:.3;
pointer-events:none;
}

#backCal,#backHome{
margin-top:30px;
}

