body{
margin:0;
background:#ffd6e8;
font-family:'Caveat',cursive;
overflow:hidden;
text-align:center;
transition:1s;
}

/* SCREENS */
.screen{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
position:relative;
z-index:2;
}

.hidden{display:none}

/* ALL TEXT INSANE GLOW + BOUNCE */
h1,h2,button{
animation:textBounce 2s infinite;
text-shadow:
0 0 10px #fff,
0 0 20px hotpink,
0 0 40px deeppink,
0 0 80px #ff4da6;
}

@keyframes textBounce{
0%{transform:translateY(0)}
50%{transform:translateY(-12px)}
100%{transform:translateY(0)}
}

h1,h2{
font-size:55px;
color:black;
font-weight:bold;
}

/* BUTTONS */
.buttons button{
padding:20px 50px;
font-size:24px;
margin:20px;
border:none;
border-radius:40px;
cursor:pointer;
transition:.3s;
}

.buttons button:hover{
transform:scale(1.2);
box-shadow:0 0 25px hotpink;
}

#yesBtn{
background:white;
color:red;
animation:beat 1s infinite;
}

@keyframes beat{
50%{transform:scale(1.2);}
}

#noBtn{background:white}

/* GIF */
.gif{
width:320px;
margin:20px;
border-radius:20px;
box-shadow:0 0 30px hotpink;
}

/* CALENDAR */
#calendar{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
background:white;
padding:40px;
border-radius:30px;
box-shadow:0 0 60px hotpink;
animation:breath 2s infinite;
}

@keyframes breath{
50%{transform:scale(1.05);}
}

.day{
padding:25px;
background:#ffe6f0;
border-radius:20px;
font-size:22px;
cursor:pointer;
transition:.3s;
}

.day:hover{
transform:scale(1.1);
box-shadow:0 0 20px hotpink;
}

.day.locked{opacity:.4}

/* BACK BTN */
.backBtn{
margin-top:30px;
padding:15px 30px;
border:none;
border-radius:30px;
font-size:20px;
cursor:pointer;
}

/* FULL SCREEN RAIN */
.rain{
position:fixed;
top:-10vh;
font-size:45px;
animation:fall 7s linear infinite;
pointer-events:none;
z-index:1;
}

@keyframes fall{
from{transform:translateY(-10vh);}
to{transform:translateY(110vh);}
}

/* BROKEN HEART */
.broken{
position:fixed;
top:-10vh;
font-size:70px;
animation:fallRotate 3s linear infinite;
pointer-events:none;
z-index:5;
}

@keyframes fallRotate{
from{transform:translateY(-10vh) rotate(0);}
to{transform:translateY(110vh) rotate(360deg);}
}

/* SAD MODE */
#sad-screen{
background:black;
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
z-index:10;
}

#sad-screen h2{
color:white;
text-shadow:
0 0 15px #fff,
0 0 40px white,
0 0 80px white;
}

/* SCREEN SHAKE */
.shake{
animation:shake 0.4s;
}

@keyframes shake{
0%{transform:translateX(0)}
25%{transform:translateX(-20px)}
50%{transform:translateX(20px)}
75%{transform:translateX(-20px)}
100%{transform:translateX(0)}
}

/* FLOATING SAI */
.floatSai{
position:fixed;
font-size:28px;
color:white;
text-shadow:0 0 15px hotpink;
animation:floatUp 8s linear infinite;
pointer-events:none;
z-index:0;
}

@keyframes floatUp{
from{transform:translateY(110vh);opacity:1;}
to{transform:translateY(-20vh);opacity:0;}
}

/* LOVE MODE AFTER YES */
.loveMode{
background:black !important;
}

