body {
  margin: 0;
  background: #f7c6d9;
  font-family: 'Courier New', monospace;
  overflow: hidden;
}

.dark {
  background: black !important;
}

#app {
  text-align: center;
  margin-top: 80px;
  z-index: 5;
  position: relative;
}

h1, h2 {
  color: black;
  text-shadow: 0 0 6px silver;
}

.dark h1, .dark h2 {
  color: white;
  text-shadow: 0 0 8px white;
}

button {
  padding: 14px 26px;
  margin: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

#yesBtn {
  background: white;
  color: red;
}

#noBtn {
  background: white;
  color: black;
}

#thinkAgain {
  background: white;
  color: red;
}

#mainGif {
  width: 300px;
  margin-top: 20px;
}

/* FLOATING EMOJIS */
.emoji {
  position: fixed;
  font-size: 55px;
  animation: floatUp linear infinite;
  z-index: 1;
}

@keyframes floatUp {
  from { transform: translateY(110vh); }
  to { transform: translateY(-130vh); }
}

/* BROKEN HEART RAIN */
.rain {
  position: fixed;
  font-size: 50px;
  animation: rainDown 2s linear infinite;
}

@keyframes rainDown {
  to { transform: translateY(120vh); }
}

/* CONFETTI */
.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  animation: fall 3s linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}

