body{
margin:0;
font-family:'Caveat',cursive;
background:#ffd6e7;
overflow-x:hidden;
text-align:center;
}

/* screens */
.screen{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
}

.hidden{display:none}

/* buttons */
button{
padding:14px 28px;
margin:10px;
border:none;
border-radius:30px;
font-size:20px;
cursor:pointer;
background:#ff4d88;
color:white;
box-shadow:0 0 15px hotpink;
transition:.3s;
}

button:hover{
transform:scale(1.1);
}

/* rain */
.rain{
position:fixed;
top:-20px;
pointer-events:none;
animation:fall linear forwards;
z-index:0;
}

@keyframes fall{
to{transform:translateY(110vh);}
}

/* calendar */
#calendar{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-top:20px;
}

.day{
width:90px;
height:90px;
background:white;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
box-shadow:0 0 10px hotpink;
font-size:18px;
}

.locked{
opacity:.4;
}

/* day images */
.loveImg{
width:160px;
margin:10px;
border-radius:20px;
box-shadow:0 0 20px hotpink;
animation:pop .6s ease;
}

@keyframes pop{
from{transform:scale(0);opacity:0;}
to{transform:scale(1);opacity:1;}
}

/* proposal explosion */
#proposalBox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(255,192,203,0.95);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
z-index:9999;
}

#proposalBox h1{
font-size:60px;
color:#ff007f;
animation:zoom 1s infinite alternate;
}

@keyframes zoom{
from{transform:scale(1);}
to{transform:scale(1.2);}
}
/* ---------- GLOBAL GLOW TEXT ---------- */
h1,h2,p,button{
text-shadow:
0 0 8px white,
0 0 18px hotpink,
0 0 35px pink;
animation:textFloat 2s ease-in-out infinite alternate;
}

@keyframes textFloat{
from{transform:translateY(0px);}
to{transform:translateY(-6px);}
}

/* ---------- FINAL PROPOSAL ---------- */
#finalBox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
z-index:999999;
overflow:hidden;
}

.ringWrap{
text-align:center;
animation:zoomIn 1.5s ease;
}

@keyframes zoomIn{
from{transform:scale(0);opacity:0;}
to{transform:scale(1);opacity:1;}
}

.bigRing{
font-size:150px;
animation:ringBounce 1s infinite;
filter:drop-shadow(0 0 25px gold);
}

@keyframes ringBounce{
0%{transform:scale(1);}
50%{transform:scale(1.25);}
100%{transform:scale(1);}
}

.marryGlow{
font-size:75px;
color:white;
margin-top:20px;
text-shadow:
0 0 20px white,
0 0 40px pink,
0 0 80px hotpink,
0 0 120px red;
animation:glowPulse 1.2s infinite alternate;
}

@keyframes glowPulse{
from{transform:scale(1);}
to{transform:scale(1.08);}
}

.sparkle{
font-size:40px;
margin-top:15px;
animation:sparkleMove 1s infinite alternate;
}

@keyframes sparkleMove{
from{letter-spacing:5px;}
to{letter-spacing:18px;}
}

