body {
  margin: 0;
  background: #ffd6e8;
  font-family: "Georgia", cursive;
  overflow: hidden;
}

.hidden { display: none; }

#app {
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: black;
  text-shadow: 0 0 8px silver;
}

.buttons button {
  padding: 15px 35px;
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}

#yesBtn { background: white; color: red; }
#noBtn { background: white; color: black; }

.gif {
  width: 280px;
  margin: 20px auto;
}

/* SAD SCREEN */
#no-screen {
  background: black;
  min-height: 100vh;
  color: white;
}

/* FLOATING EMOJIS */
.emoji {
  position: absolute;
  font-size: 65px;
  animation: float 10s linear infinite;
}

@keyframes float {
  from { transform: translateY(100vh); }
  to { transform: translateY(-10vh); }
}

/* BROKEN HEART RAIN */
.broken {
  position: fixed;
  font-size: 75px;
  animation: fall 3s linear infinite;
}

@keyframes fall {
  from { top: -10%; }
  to { top: 110%; }
}

/* CALENDAR */
.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

.day {
  background: white;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

.day.locked {
  opacity: 0.4;
  pointer-events: none;
}

/* BACK BUTTON */
.backBtn {
  margin-top: 20px;
  padding: 10px 25px;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  max-width: 520px;
  margin: auto;
}

.day {
  background: white;
  padding: 20px;
  border-radius: 18px;
  font-size: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.day:hover {
  transform: scale(1.08);
  background: #ffe6f0;
}

.day.locked {
  opacity: 0.4;
}


