body{
margin:0;
background:#ffd6e8;
font-family:'Caveat',cursive;
overflow:hidden;
text-align:center;
}

/* screens */
.screen{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.hidden{display:none}

/* TEXT */
h1,h2{
font-size:55px;
color:black;
font-weight:bold;
text-shadow:
0 0 5px #fff,
0 0 15px #ffb6c1,
0 0 25px hotpink;
}

/* BUTTONS */
.buttons button{
padding:20px 50px;
font-size:24px;
margin:20px;
border:none;
border-radius:40px;
cursor:pointer;
}

#yesBtn{
background:white;
color:red;
animation:beat 1s infinite;
}

@keyframes beat{
50%{transform:scale(1.15);}
}

#noBtn{
background:white;
}

/* HEART THINK BTN */
.heart-btn{
background:white;
padding:20px 35px;
border-radius:50px;
font-size:22px;
border:none;
margin-top:30px;
}

/* GIF */
.gif{
width:320px;
margin:20px;
border-radius:20px;
}

/* CALENDAR */
#calendar{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
background:white;
padding:40px;
border-radius:30px;
box-shadow:0 0 40px hotpink;
animation:breath 2s infinite;
}

@keyframes breath{
50%{transform:scale(1.05);}
}

.day{
padding:25px;
background:#ffe6f0;
border-radius:20px;
font-size:22px;
cursor:pointer;
}

.day.locked{
opacity:.4;
}

/* back buttons */
.backBtn{
margin-top:30px;
padding:15px 30px;
border:none;
border-radius:30px;
font-size:20px;
cursor:pointer;
}

/* rain */
.rain{
position:fixed;
font-size:45px;
animation:fall 8s linear infinite;
}

@keyframes fall{
from{transform:translateY(-10vh);}
to{transform:translateY(110vh);}
}

/* heartbreak */
.broken{
position:fixed;
font-size:70px;
animation:fallRotate 3s linear infinite;
}

@keyframes fallRotate{
from{transform:translateY(-10vh) rotate(0);}
to{transform:translateY(110vh) rotate(360deg);}
}

/* corner hearts */
.corner{
position:fixed;
font-size:45px;
animation:beat 1s infinite;
}
.tl{top:10px;left:10px}
.tr{top:10px;right:10px}
.bl{bottom:10px;left:10px}
.br{bottom:10px;right:10px}
